{% extends "base.html" %}
{% block content %}

<h2 class="addnew">Locations</h2>

<ul>    
    <li class="addnew"><a href="/locations/new">Add Location - Don't forget to add the city and country first. </a></li>
</ul>
<div class="container">
{% for location in locations %}

<section class="results">
    <p>City: {{ location.city.name }}</p>
    <p>Country: {{ location.country.name }}</p>
    <p>Continent: {{ location.continent }}</p>
    <a href="/locations/{{ location.id }}/edit">Edit</a>
    <form action="/locations/{{ location.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
</div>
{% endfor %}
{% endblock %}
