{% extends "base.html" %}
{% block content %}

<h2>Update a City</h2>

<form action="/cities/{{city.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{city.name}}">
    </div>
    <div>
        <label for="founded">Founded:</label>
        <input type="text" id="founded" name="founded" value="{{city.founded}}">
    </div>
    <div>
        <label for="climate">Climate:</label>
        <input type="radio" id="climate" name="climate" value="arid"><lable for="arid">Arid</lable>
        <input type="radio" id="climate" name="climate" value="temperate"><lable for="temperate">Temperate</lable>
        <input type="radio" id="climate" name="climate" value="tropical"><lable for="tropical">Tropical</lable>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}