{% extends "base.html" %}
{% block content %}

<h2>Add a New City</h2>

<form action="/cities" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="language">Language:</label>
        <input type="text" id="language" name="language">
    </div>
    <div>
        <label for="">Founded:</label>
        <input type="number" id="founded" name="founded">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
