{% extends "base.html" %}
{% block content %}

<h2 >Add a New City</h2>

<form action="/cities" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="climate">Climate:</label>
        <input type="radio" id="climate" name="climate" value="Arid"><lable for="Arid">Arid</lable>
        <input type="radio" id="climate" name="climate" value="Temperate"><lable for="Temperate">Temperate</lable>
        <input type="radio" id="climate" name="climate" value="Tropical"><lable for="Tropical">Tropical</lable>
        <input type="radio" id="climate" name="climate" value="Tundra"><lable for="Tundra">Tundra</lable>
        <input type="radio" id="climate" name="climate" value="Desert"><lable for="Desert">Desert</lable>
        <input type="radio" id="climate" name="climate" value="Rainy"><lable for="Rainy">Rainy</lable>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
