.site_background {
    background-image: url("background.jpeg");
}
.header{
    padding: 20px 10px;
    height:fit-content;
    background: linear-gradient(to left, #f9f3fb, #067fd0);
    border-bottom: 10px thick black;
}

.header li {
    float: left;
    text-align:start;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    border-radius: 4px;
    list-style: none;
  }
.navright{
  float:right;
}
.logo{
  height: 100px;
  width: 300px;
  border-style: groove;

}

.intro{
    flex-wrap: wrap;
    width: 50%;
}
 
.menu{
    list-style:circle;
}

.container{
    max-width: 80%;
    display: inline-block;
}

.results{
    display:inline-block;
    width: 250px;
    height:max-content;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    border-style: double;
    border-width: 6px;
    border-color: #060ba4;
    background: linear-gradient(to right, #f9f3fb, #067fd0);
}

.addnew{
    font-size:x-large;
}

.footer{
  text-align:center;
  height:max-content;
  background: linear-gradient(to right, #f9f3fb, #067fd0);
  position:relative;
  height: 40px;
  width:100%;
  margin: 0px;
}

.mainhome{
  text-align: center;
  display:inline-block;
  width: 55%;
  height:max-content;
  padding: 10px;
  margin: 10px;
  font-size: x-large;
  border-style: double;
  border-width: 6px;
  border-color: #250791;
  background: linear-gradient(to right, #f9f3fb, #067fd0);
  list-style: none;
}


.map{
  align-items: center;
}

button:hover {
  color: #0062FF;
  border: #0062FF solid 1px;
  background: #FFFF99;
  }

body{
  margin: 0;
}

ul{
  list-style: none;
}

.hp  {
  float: right;    
   margin: 0 0 0 15px;
   width: 400px;
   height:2400px;
   padding:7px;
   margin: 7px;
   border-style: double;
   border-width: 6px;
   border-color: #562dbe;
  }

  input[type=submit] {
    padding:5px 15px; 
    background:rgb(228, 225, 225); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

a:link {
  color: rgb(4, 6, 4);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(3, 10, 80);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(81, 83, 85);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}