.site_background {
    background-image: url("background.jpeg");
}

.header{
    overflow: hidden;
    padding: 20px 10px;
    height: 100px;
    background: linear-gradient(to bottom, #a12dbe, #f4e7f5);
    border-style:groove ;
    border: 5px black;
}

.header li {
    float: left;
    color: rgb(216, 8, 8);
    text-align:start;
    padding: 5px;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    border-radius: 4px;
    list-style: none;
  }

.header a.logo {
    font-size: 36px;
    font-weight: bold;
    color: rgb(54, 8, 97);
  }

.intro{
    flex-wrap: wrap;
    width: 50%;
}
 
.menu{
    list-style:circle;
}

.container{
    max-width: 80%;
    display: inline-block;
}

.results{
    display:inline-block;
    width: 250px;
    height:max-content;
    padding: 10px;
    margin: 10px;
    font-size: x-large;
    border-style: double;
    border-width: 6px;
    border-color: #a12dbe;
    background: linear-gradient(to bottom, #f9f3fb, #880e91);
}

.addnew{
    font-size:x-large;
}

.footer{
  text-align:center;
  height:max-content;
  background: linear-gradient(to bottom, #f9f3fb, #880e91);
  position:fixed;
  bottom:0;
  width:100%;
  margin: 0px;
}

.mainhome{
  text-align: center;
  display:inline-block;
  width: 550px;
  height:max-content;
  padding: 10px;
  margin: 10px;
  font-size: x-large;
  border-style: double;
  border-width: 6px;
  border-color: #a12dbe;
  background: linear-gradient(to bottom, #f9f3fb, #880e91);
  list-style: none;
}


.map{
  align-items: center;
}

button:hover {
  color: #0062FF;
  border: #0062FF solid 1px;
  background: #FFFF99;
  }

body{
  margin: 0;
}

ul{
  list-style: none;
}

.hp  {
  float: right;    
   margin: 0 0 0 15px;
   width: 620px;
   height:2400px;
   padding:7px;
   margin: 7px;
   border-style: double;
   border-width: 6px;
   border-color: #a12dbe;
  }
