<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Trips-Travel Planner</title>
</head>
<header class="site_background">
    <nav>
      <header class="header">
        <nav>
          <img src="static/logo.jpeg" alt="logo" class="logo">
          
          <ul class="navright">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/users">Users</a>
            </li>
            <li>
              <a href="/cities">Cities</a>
            </li>
            <li>
              <a href="/countries">Countries</a>
            </li>
            <li>
              <a href="/locations">Locations</a>
            </li>
          </li>
          <li>
            <a href="/visited_locations">Visits</a>
          </li>
          <li>
            <a href="/dream_locations">Dream</a>
          </li>
          </ul>
        </nav>
      </header>
        <section id="content">
            {% block content %}
            {% endblock%}
        </section>
      </nav>
    <footer class="footer">
          <p><a href="https://twitter.com/elonmusk">Twitter</a>
          <a href="mailto:johnsemail@gmail.com">Email</a>
          <a href="https://github.com/aaronhubber">Github</a></p>
    </footer>
  </header>
</html>