{% extends "base.html"%}

{% block content %}
<main class="mainhome">
    <h1>Tripps - Travel Planner</h1>
    <h2> Tripps you will fall for</h2>

    <p class="intro">For thoses new to this whole traveling game you can create your dream travel list, then watch as it becomes you own experienced traveller checklist, share with your friends and shame their holidays!</p>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/dream_locations">Dream List</a></li>
        <li><a href="/visited_locations">Visited List</a></li>
    </ul>
</main>

{% endblock %}