{% extends "base.html"%}

{% block content %}
<main class="mainhome">
    <h1>Tripps - Travel Planner</h1>
    <h2> Tripps you will fall for</h2>

    <p>For thoses new to this whole traveling game you can create your dream travel list, then watch as it becomes you own experienced traveller checklist, share with your friends and shame their holidays!</p>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/dream_locations">Dream List</a></li>
        <li><a href="/visited_locations">Visited List</a></li>
    </ul>

    <h1>Travel Map</h1>

    <map name="continents_map">

    <area shape="circle" coords="70,70,10" href="#north_america">

    <area shape="circle" coords="133,185,10" href="#south_america">

    <area shape="circle" coords="270,137,10" href="#africa">

    <area shape="circle" coords="292,44,10" href="#europe">

    <area shape="circle" coords="469,201,10" href="#oceania">

    <area shape="circle" coords="374,65,10" href="#asia">

    </map>

    <figure class="map">

        <img usemap="#continents_map" src=https://bit.ly/2bgFrvL width="600px" />

        <figcaption>World Map</figcaption>

    </figure>

    <div>

        <h3 id="africa">Africa</h3>

        <p>Top Suggestions in Africa:</p>
        <ul>
            <li>
                Cape Town, South Africa
            </li>
            <li>
                Cairo, Egypt
            </li>
            <li>
                Zanzibar, Tanzania
            </li>
            <li>
                Kigali, Rwanda
            </li>
            <li>
                Lagos, Nigeria
            </li>
        </ul>

    </div>

    <div>

        <h3 id="asia">Asia</h3>

        <p>Top Suggestions in Asia</p>
        
        <ul>
            <li>
                Hangzhou, China
            </li>
            <li>
                Tokyo, Japan
            </li>
            <li>
                Dali, China
            </li>
            <li>
                Goa, India
            </li>
            <li>
                Dubai, U.A.E
            </li>
        </ul>
    </div>

    <div>

        <h3 id="europe">Europe</h3>

        <p>Top Suggestions in Europe:</p>
        <ul>
            <li>
                Inverness, UK
            </li>
            <li>
                Barcelona, Spain
            </li>
            <li>
                Krakow, Poland
            </li>
            <li>
                Napoli, Italy
            </li>
            <li>
                Porto, Portugal
            </li>
        </ul>

    </div>

    <div>

        <h3 id="south_america">South America</h3>

        <p>Top Suggestions in South America:</p>
        <ul>
            <li>
                Cusco, Peru
            </li>
            <li>
                Santiago, Chile
            </li>
            <li>
                Ushuaia, Argentina
            </li>
            <li>
                Montevido, Uruguay
            </li>
            <li>
                Bogota, Colombia
            </li>
        </ul>

    </div>

    <div>

        <h3 id="north_america">North America</h3>

        <p>Top Suggestions in North America:</p>
        <ul>
            <li>
                Vancouver, Canada
            </li>
            <li>
                Mexico City, Mexico
            </li>
            <li>
                Punta Cana, Dominican Republic
            </li>
            <li>
                New York, USA
            </li>
            <li>
                Austin, USA
            </li>
        </ul>

    </div>

    <div>

        <h3 id="oceania">Oceania</h3>

        <p>Top Suggestions in Oceania:</p>
        <ul>
            <li>
                Melbourne, Australia
            </li>
            <li>
                Aukland, New Zealand
            </li>
            <li>
                Te Anau, New Zealand
            </li>
            <li>
                Suva, Fiji
            </li>
            <li>
                Kuala Lumpur, Malaysia
            </li>
        </ul>

    </div>
</main>
{% endblock %}