{% extends "base.html"%}

{% block content %}

<main class="index_container">
    
    <h1>Tripps - Travel Planner</h1>
    <h2> Tripps you will fall for</h2>


    <p class="first">For thoses new to this whole traveling game you can create your dream travel list, then watch as it becomes you own experienced traveller checklist, share with your friends and shame their holidays!</p>

    <img class="image"src="/static/images/oldman.jpeg" alt="logo" class="logo">

    <h1>Travel Map</h1>

    <map name="continents_map">

    <area shape="circle" coords="70,70,10" href="#north_america">

    <area shape="circle" coords="133,185,10" href="#south_america">

    <area shape="circle" coords="270,137,10" href="#africa">

    <area shape="circle" coords="292,44,10" href="#europe">

    <area shape="circle" coords="469,201,10" href="#oceania">

    <area shape="circle" coords="374,65,10" href="#asia">
    </map>

    <figure>
    <img usemap="#continents_map" src=https://bit.ly/2bgFrvL width="600px" />
    </figure>
    
    <div>
    

    
    
    <h3 id="africa">Africa</h3>
    
   
    <p>Top Suggestions in Africa:</p>
    <ul>
        <li><a href="https://www.capetown.travel/">Cape Town, South Africa</a></li>
        <li><a href="https://www.lonelyplanet.com/egypt/cairo/">Cairo, Egypt</a></li>
        <li><a href="https://www.zanzibar.com/">Zanzibar, Tanzania</a></li>
        <li><a href="https://www.roughguides.com/articles/9-reasons-to-visit-kigali-rwanda/">Kigali, Rwanda</a></li>
        <li><a href="https://www.lonelyplanet.com/nigeria/lagos">Lagos, Nigeria</a></li>
        </ul>

        </div>
        <img class="image2"src="/static/images/zanzibar.jpeg" alt="logo">
        <div>
            <h3 id="asia">Asia</h3>

            <p>Top Suggestions in Asia</p>
            
            <ul>
                <li>
                    <li><a href="https://www.lonelyplanet.com/china/zhejiang/hangzhou">Hangzhou, China</a></li>
                </li>
                <li>
                    <li><a href="https://www.gotokyo.org/en/index.html">Tokyo, Japan</a></li>
                </li>
                <li>
                    <li><a href="https://www.lonelyplanet.com/china/yunnan/dali">Dali, China</a></li>
                </li>
                <li>
                    <li><a href="https://goa-tourism.com">Goa, India</a></li>
                </li>
                <li>
                    <li><a href="https://www.visitdubai.com/en/">Dubai, U.A.E</a></li>
                </li>
            </ul>
        </div>
        <img class="image"src="/static/images/hangzhou.jpeg" alt="logo" class="logo">
        <div>
            

            <h3 id="europe">Europe</h3>

            <p>Top Suggestions in Europe:</p>
            <ul>
                <li>
                    <li><a href="https://www.visitinvernesslochness.com/">Inverness, UK</a></li>
                </li>
                <li>
                    <li><a href="https://www.barcelonaturisme.com/wv3/en/">Barcelona, Spain</a></li>
                </li>
                <li>
                    <li><a href="https://visitkrakow.com/">Krakow, Poland</li></a></li>
                <li>
                    <a href="https://www.visitnaples.eu/en">Napoli, Italy</li></a>
                <li>
                    <li><a href="https://www.visitportugal.com/en/destinos/porto-e-norte">Porto, Portugal</a></li>
                </li>
            </ul>

        </div>
        <img class="image3"src="/static/images/krakow.jpeg" alt="logo" class="logo">
        <div>
            <h3 id="south_america">South America</h3>

            <p>Top Suggestions in South America:</p>
            <ul>
                <li>
                    <a href="https://www.peru.travel/en/destinations/cusco">Cusco, Peru</li></a>
                </li>
                <li>
                    <a href="https://www.chile.travel/en/where-to-go/destination/santiago/">Santiago, Chile</li></a>
                </li>
                <li>
                    <a href="https://www.swoop-patagonia.com/regions/tierra-del-fuego/ushuaia">Ushuaia, Argentina</li></a>
                </li>
                <li>
                    <a href="https://www.lonelyplanet.com/uruguay/montevideo">Montevido, Uruguay</li></a>
                </li>
                <li>
                    <a href="https://colombia.travel/en/bogota">Bogota, Colombia</li></a>
                </li>
            </ul>

        </div>
        <img class="image"src="/static/images/cusco.jpeg" alt="logo" class="logo">
        <div>
            

            <h3 id="north_america">North America</h3>

            <p>Top Suggestions in North America:</p>
            <ul>
                <li>
                    <a href="https://www.destinationvancouver.com/">Vancouver, Canada</li></a>
                </li>
                <li>
                    <a href="https://www.visitmexico.com/en/mexico-city">Mexico City, Mexico</li></a>
                </li>
                <li>
                    <a href="https://www.godominicanrepublic.com/punta-cana/">Punta Cana, Dominican Republic</li></a>
                </li>
                <li>
                    <a href="https://www.nycgo.com/">New York, USA</li></a>
                </li>
                <li>
                    <a href="https://www.austintexas.org/">Austin, USA</li></a>
            </ul>
    

        </div>
        <img class="image2"src="/static/images/auston.jpeg" alt="logo" class="logo">
        <div>
            

        <h3 id="oceania">Oceania</h3>

        <p>Top Suggestions in Oceania:</p>
        <ul>
            <li>
                <a href="https://www.visitmelbourne.com/">Melbourne, Australia
            </li></a>
            <li>
                <a href="https://www.aucklandnz.com/visit">Aukland, New Zealand</li></a>
            </li>
            <li>
                <a href="https://www.newzealand.com/uk/te-anau/">Te Anau, New Zealand</li></a>
            </li>
            <li>
                <a href="https://www.fiji.travel/suva-and-surrounds">Suva, Fiji</li></a>
            </li>
            <li>
                <a href="https://www.tripadvisor.co.uk/Attractions-g298570-Activities-Kuala_Lumpur_Wilayah_Persekutuan.html">Kuala Lumpur, Malaysia</li></a>
            </li>
        </ul>
    </div>
    <img class="image3"src="/static/images/teanau.jpeg" alt="logo">
</main>
{% endblock %}