{% extends "base.html" %}
{% block content %}

<h2 class="addnew">Visited Locations</h2>

<form action="/visited_locations/new">
    <input type="submit" value="Add Location"/>
</form>

<h2>Show by User</h2>

<form action="/visited_locations/filter/user" method="POST">
    <div>
        <label for="user">User:</label>
        <select name="user_id" id="user">
            <option selected disabled>Select User</option>
            {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
        
        <input type="submit">
    </div>
</form>
<h2>Show by Location</h2>

<form action="/visited_locations/filter/location" method="POST">
    <div>
        <label for="location">Location:</label>
        <select name="location_id" id="location">
            <option selected disabled>Select Location</option>
            {% for location in locations %}
            <option value="{{ user.id }}">
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
        
        <input type="submit">
    </div>
</form>

{% for visited_location in visited_locations %}

<section class="results">
    <p class="visted_bio"><b>{{ visited_location.user.name }} </b> has been to {{ visited_location.location.city.name }}, {{visited_location.location.country.name}}. In the city of {{visited_location.location.city.name}} the climate is {{visited_location.location.city.climate}} and {{visited_location.location.country.name}} can be found on the continent of {{visited_location.location.continent}}.</p>
    <a href="/visited_locations/{{ visited_location.id }}/edit">Edit</a>
    <form action="/visited_locations/{{ visited_location.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}