{% extends "base.html" %}
{% block content %}

<h2>Show by User</h2>

<form action="/visited_locations/filter/user" method="POST">
    <div>
        <label for="user">User:</label>
        <select name="user_id" id="user">
            <option selected disabled>Select User</option>
            {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
        
        <input type="submit">
    </div>
</form>

{% endblock %}