{% extends "base.html" %}
{% block content %}

<h2 class="addnew">Dream Locations</h2>

<ul>    
    <li class="addnew"><a href="/dream_locations/new">Add Location</a></li>
</ul>

<h2>Show by User</h2>

<form action="/dream_locations/filter/user" method="POST">
    <div>
        <label for="user">User:</label>
        <select name="user_id" id="user">
            <option selected disabled>Select User</option>
            {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
        
        <input type="submit">
    </div>
</form>

{% for dream_location in dream_locations %}

<section class="results">
    <p><b>{{ dream_location.user.name }}</b> dreams of visiting <b> {{ dream_location.location.city.name }}, {{dream_location.location.country.name}}</b>. They long to experience the <b> {{dream_location.location.city.climate}} </b> climate.</p>
    <a href="/dream_locations/{{ dream_location.id }}/edit">Edit</a>
    <form action="/dream_locations/{{ dream_location.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/dream_locations/{{ dream_location.id }}/move">Been There!</a>

    </form>
</section>

{% endfor %}
{% endblock %}