{% extends "base.html" %}
{% block content %}

<h2 class="addnew">Dream Locations</h2>

<ul>    
    <li class="addnew"><a href="/dream_locations/new">Add Location</a></li>
</ul>

{% for dream_location in dream_locations %}

<section class="results">
    <p><b>{{ dream_location.user.name }}</b> dreams of visiting <b> {{ dream_location.location.city.name }}, {{dream_location.location.country.name}}</b>. They long to experience the <b> {{dream_location.location.city.climate}} </b> climate.</p>
    <a href="/dream_locations/{{ dream_location.id }}/edit">Edit</a>
    <form action="/dream_locations/{{ dream_location.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/dream_locations/{{ dream_location.id }}/move">Move</a>

    </form>
</section>

{% endfor %}
{% endblock %}