{% extends "base.html" %}
{% block content %}

<h2>Dream Locations</h2>

<ul>    
    <li><a href="/dream_locations/new">Add Location</a></li>
</ul>

{% for dream_location in dream_locations %}

<section class="results">
    <p>{{ dream_location.user.name }} wants to vist {{ dream_location.location.city.name }}, {{dream_location.location.country.name}}. </p>
    <a href="/dream_locations/{{ dream_location.id }}/edit">Edit</a>
    <form action="/dream_locations/{{ dream_location.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    <a href="/dream_locations/{{ dream_location.id }}/move">Move</a>

    </form>
</section>

{% endfor %}
{% endblock %}