{% extends "base.html" %}
{% block content %}

<h2>Update a Dream</h2>

<form action="/dream_locations/{{dream_location.id}}" method="POST">
    <div>
        <label for="user">User:</label>
        <select name="user_id" id="user">
            {% for user in users %}
            <option value="{{ user.id }}" {% if user.id == dream_location.user.id %} selected {% endif %}>
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="location">Location:</label>
        <select name="location_id" id="location">
            {% for location in locations %}
            <option value="{{ location.id }}" {% if location.id == dream_location.location.id %} selected {% endif %}>
                {{ location.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}