{% extends "base.html" %}
{% block content %}

<h2>Add a New Dream</h2>

<form action="/dream_locations" method="POST">
    <div>
        <label for="user">User:</label>
        <select name="user_id" id="user">
        <option selected disabled>Select User</option>
            {% for user in users %}
            <option value="{{ user.id }}">
                {{ user.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="location">Location:</label>
        <select name="location_id" id="location">
        <option selected disabled>Select Location</option>
            {% for location in locations %}
            <option value="{{ location.id }}">
                {{ location.city.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}